.container-form{
    background: linear-gradient(to right, #008080, #00FFFF);

}

/* Animation Keyframes */
@keyframes fadeInSlide {
    0% {
      opacity: 0;
      transform: translateY(20px); /* Start with a slight downward slide */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* End in its original position */
    }
  }
  
  /* Applying the animation to the form container */
  .container-form {
    animation: fadeInSlide 0.8s ease-in-out; /* 0.8s duration with ease-in-out effect */
  }
  