.image-container {
    position: relative;
    display: inline-block; /* Ensure the image and text are in the same block */
  }
  
  .image-container img {
    width: 100%; /* or any specific width */
    height: auto;
  }
  
  .overlay-text {
    position: absolute;
    top: 50%; /* Adjust based on where you want the text */
    left: 15%;
    transform: translate(-50%, -50%); /* Center the text */
    color: white; /* Change the color as needed */
    font-size: 24px; /* Adjust the size as per your design */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Optional shadow for better contrast */
  }
  
  .overlay-text-right{
    position: absolute;

    top: 50%; /* Adjust based on where you want the text */
    left: 350%;
    transform: translate(-50%, -50%); /* Center the text */
    color: white; /* Change the color as needed */
    font-size: 24px; /* Adjust the size as per your design */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Optional shadow for better contrast */
  }